<div class="container">
    <form id="contact" [formGroup]="form" novalidate>
        <h3>Add user</h3>
        <fieldset>
            <input type="text" placeholder="First name" formControlName="first_name">
        </fieldset>
        <div class="form-validation"
            *ngIf="form.controls['first_name'].invalid && (form.controls['first_name'].dirty || form.controls['first_name'].touched)">
            <div class="form-error" *ngIf="form.controls['first_name'].errors!['required']">
                First name is required.
            </div>
        </div>

        <fieldset>
            <input type="text" placeholder="Last name" formControlName="last_name">
        </fieldset>
        <div class="form-validation"
            *ngIf="form.controls['last_name'].invalid && (form.controls['last_name'].dirty || form.controls['last_name'].touched)">
            <div class="form-error" *ngIf="form.controls['last_name'].errors!['required']">
                Last name is required.
            </div>
        </div>

        <fieldset>
            <input type="email" placeholder="Email" formControlName="email">
        </fieldset>
        <div class="form-validation"
            *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
            <div class="form-error" *ngIf="form.controls['email'].errors!['required']">
                Email is required.
            </div>
            <div class="form-error" *ngIf="form.controls['email'].errors!['email']">
                Email is incorrect.
            </div>
        </div>

        <fieldset>
            <input type="text" placeholder="Phone" formControlName="phone">
        </fieldset>
        <div class="form-validation"
            *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)">
            <div class="form-error" *ngIf="form.controls['phone'].errors!['required']">
                Phone is required.
            </div>
        </div>

        <fieldset>
            <textarea placeholder="Job" formControlName="job"></textarea>
        </fieldset>
        <div class="form-validation"
            *ngIf="form.controls['job'].invalid && (form.controls['job'].dirty || form.controls['job'].touched)">
            <div class="form-error" *ngIf="form.controls['job'].errors!['required']">
                Job is required.
            </div>
        </div>

        <fieldset class="button-container">
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"
                [disabled]="form.pristine || form.invalid" (click)="submitForm()">Save</button>
        </fieldset>
    </form>
</div>