<div class="container">
    <div id="contact" action="" method="post">
        <h3>Add user</h3>
        <fieldset>
            <input type="text" placeholder="First name" [(ngModel)]="first_name" required>
        </fieldset>

        <fieldset>
            <input type="text" placeholder="Last name" [(ngModel)]="last_name" required>
        </fieldset>

        <fieldset>
            <input type="email" placeholder="Email" [(ngModel)]="email" required>
        </fieldset>

        <fieldset>
            <input type="text" placeholder="Phone" [(ngModel)]="phone" required>
        </fieldset>

        <fieldset>
            <textarea placeholder="Job" [(ngModel)]="job" required></textarea>
        </fieldset>

        <fieldset class="button-container">
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"
                (click)="submitForm()">Save</button>
        </fieldset>
    </div>
</div>