<div class="container">
    <div id="contact" action="" method="post">
        <h3>Add user</h3>
        <fieldset>
            <input type="text" placeholder="First name" [(ngModel)]="first_name">
        </fieldset>

        <fieldset>
            <input type="text" placeholder="Last name" [(ngModel)]="last_name">
        </fieldset>

        <fieldset>
            <input type="email" placeholder="Email" [(ngModel)]="email">
        </fieldset>

        <fieldset>
            <input type="text" placeholder="First name" [(ngModel)]="phone">
        </fieldset>

        <fieldset>
            <textarea placeholder="First name" [(ngModel)]="job"></textarea>
        </fieldset>

        <fieldset class="button-container">
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </div>
</div>